---
layout: single
title: 'Shit Just Got Real'
date: 2013-02-02 18:00 -04:00
tags: moses, heston
---
<div class="articleBody clearfix">
	<p>When the people saw the thunder and lightning and heard the trumpet and saw the mountain in smoke, they trembled with fear. They stayed at a distance and said to Moses, "Speak to us yourself and we will listen.</p> 
	<%= image_tag 'http://placehold.it/960x360' %>
	<p>But do not have God speak to us or we will die." Moses said to the people, "Do not be afraid. God has come to test you, so that the fear of God will be with you to keep you from sinning." The people remained at a distance, while Moses approached the thick darkness where God was.</p>
	READMORE
	<p>Now it came about in the six hundred and first year, in the first month, on the first of the month, the water was dried up from the earth. Then Noah removed the covering of the ark, and looked, and behold, the surface of the ground was dried up. In the second month, on the twenty-seventh day of the month, the earth was dry.</p>
</div>


