---
layout: single
title: 'There Goes The Neighborhood'
date: 2013-03-09 18:00 -04:00
tags: the-lord, the-serpent
---
<div class="articleBody clearfix">
	<p>Now the serpent was more crafty than any beast of the field which the LORD God had made. And he said to the woman, "Indeed, has God said, 'You shall not eat from any tree of the garden'?" The woman said to the serpent:</p>
	<blockquote>"From the fruit of the trees of the garden we may eat; but from the fruit of the tree which is in the middle of the garden, God has said, 'You shall not eat from it or touch it, or you will die.'"</blockquote>
	READMORE
	<p>The serpent said to the woman, "You surely will not die! "For God knows that in the day you eat from it your eyes will be opened, and you will be like God, knowing good and evil.</p>
	<p>Then the LORD God said, "Behold, the man has become like one of Us, knowing good and evil; and now, he might stretch out his hand, and take also from the tree of life, and eat, and live forever" therefore the LORD God sent him out from the garden of Eden, to cultivate the ground from which he was taken. So He drove the man out; and at the east of the garden of Eden He stationed the cherubim and the flaming sword which turned every direction to guard the way to the tree of life.</p>
</div>


