---
layout: single
title: 'Livin The Good Life'
date: 2013-01-20 18:00 -04:00
tags: milk, honey
---
<div class="articleBody clearfix">
	<p>The LORD said:
	 <blockquote>"I have indeed seen the misery of my people in Egypt. So I have come down to rescue them from the hand of the Egyptians and to bring them up out of that land into a good and spacious land, a land flowing with milk and honey--the home of the Canaanites, Hittites, Amorites, Perizzites, Hivites and Jebusites."</blockquote>
	 <%= image_tag 'http://placehold.it/960x360' %>
	 READMORE
	 <p>A river watering the garden flowed from Eden; from there it was separated into four headwaters. The name of the first is the Pishon; it winds through the entire land of Havilah, where there is gold. (The gold of that land is good; aromatic resin and onyx are also there.) The name of the second river is the Gihon; it winds through the entire land of Cush. The name of the third river is the Tigris; it runs along the east side of Asshur. And the fourth river is the Euphrates.</p>
	</div>


