.button { 
    position: relative; 
    overflow: visible; 
    display: inline-block; 
    padding: .3em .8em; 
    border: 1px solid #d4d4d4; 
    margin: 0;
    text-decoration: none; 
    text-shadow: 1px 1px 0 #fff; 
    color: #333; 
    white-space: nowrap; 
    cursor: pointer; 
    outline: none; 
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    -o-background-clip: padding-box; 
    /*background-clip: padding-box;*/ /* commented out due to Opera 11.10 bug */
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    /* IE hacks */
    zoom: 1; 
    *display: inline; 
}
.button:hover,
.button:focus,
.button:active {
    opacity: 0.5;
}
.button:active,
.button.active {
    opacity: 0.5;
}
.button a:hover{
    opacity: 1;
}
nav{
  margin-bottom: 1.5em;
  width: 100%;
  .nextButton{
    float: right;
    .ss-icon{
      margin-left: 15px / $em;
    }
  }
  .previousButton{
    float: left;
    .ss-icon{
      margin-right: 15px / $em;
    }
  }
  .ss-icon{
    position: relative;
    top: 2px;
  }
  a{
    font-size: 16px / $em;
  }
  .navButton{
   display: none;
  }
}