/* @group Civicz
This whole thing is super old, probably should be scrapped
*/
div#woah{
	display: block;
	margin: 0 auto 0 auto;
}
div#alternatives{
	display: block;
	margin: 20px auto 0 auto;
	width: 400px;
}
a.alternatives{
	display: block;
	float: left;
	margin: 10px 30px 5px 0;
}
span.title{
	text-align: center;
	display: block;
	margin: 3px auto 3px auto;
}
img#bear{
	display: block;
	float: left;
}
div#message{
	float: right;
	display: block;
	width: 560px;
	padding-left: 20px;
}
h1#partner{
	font-size: 40px;
	line-height: 40px;
	margin: -3px 0 20px 0;
}
p#civic-lesson{
	font-size: 20px;
	line-height: 28px;
}

p#ie{
	display: block;
	margin-top: 60px;
	width: 560px;
	text-align: center;
}
a#wahwah{
	font-weight: normal;
}

/* @end */
/* @group inherited presentational styles */
	#wrapper{
		width: 960px;
		padding: 20px 20px 0px 20px;
		margin: 0px auto 0px auto;
	}
	body{
		background-color: #ededed;
		font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
		font-size: 15px;
		line-height: 23px;
		color: #333332;
	}
	a, a:visited{
	color: #0179a5;
	font-weight: bold;
	}
	a:hover, a:active{
		color: #0179a5;
	}
/* @end */

/* @group reset */
/* Resetting Crappy defaults */

/* @group Global Reset */
/* Based upon 'reset.css' in the Yahoo! User Interface Library: http://developer.yahoo.com/yui */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}
/* @end */

/* @group Reset-RESET */
/* The below restores some sensible defaults*/

strong { font-weight: bold }

em { font-style: italic }

/*get rid of lame ie blue image borders */
a img { border:none }

div { position:relative }
/* @end */

/* @group Reset-WPRESET */
/*this gives back some of the basic presentational styles present in wordpress*/
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }

/*resetting title elements for ease of use early on3*/
h1, h2, h3, h5, h5, h6 { font-weight:bold } 
/* @end */

/* @group*/
/*getting rid of some crappy defaults Bryan doesn't like*/
a{
	text-decoration: none;
}

/* @end */
/* @end */
/* @group hacks */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
	*:first-child+html .clearfix { zoom: 1; } // puts IE7 in hazlayout mode
	* html .clearfix             { zoom: 1; } // puts IE6 in hazlayout mode
/* @end */