<footer class="footer clearfix">
	<div class="contact">
		<p class="details">Cursed is the ground because of you. In toil you will eat of it all the days of your life. Both thorns and thistles it shall grow for you.</p>
	</div>
	<div class="links">
		<ul class="clearfix">
			<li class="details"><a href="/jibber-jabber/2013.html">Archive</a></li>
			<li class="details"><a href="/rss.rss">RSS</a></li>
			<li class="details"><a href="mailto:blank@blank.com">Contact</a></li>
		</ul>
	</div>
</footer>