<nav class="clearfix">
          <span class="navLinks details"><a href="http://twitter.com"><i class="icon-twitter"></i>Twitter</a><a href="/rss.rss"><i class="icon-rss"></i>RSS</a><a class="last" href="mailto:bothermenot@gmail.com"><i class="icon-envelope-alt"></i>Contact</a></span>
</nav>